/* 自定义全局样式 */

/* el-menu */
.el-menu {
  background-color: #DCDFE6;
}
.el-menu-item {
  border-bottom: 1px solid gray;
}
.el-menu-item.is-active {
  background-color:antiquewhite;
}

/* 面包屑 */
.el-breadcrumb {
  padding: 10px;
}

/* 按钮 */
.el-button--text {
  color: #606266;
  ;
}

.el-tree-node__label {
  font-size: 16px;
  font-weight: 500;
  font-family: 'MicrosoftYaHei'
}

.item-detail {
  padding: 0 1rem;
  border: 1px solid #f1f1f1;
  background: #f0f7ff;
  margin-bottom: 10px;
}

.block {
  display: inline-block;
}